# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.vs/Mod11_Bot/FileContentIndex
/.vs/Mod11_Bot/v17
/JustBot/.vs/JustBot/v17
/.vs
/JustBot/.vs/JustBot/DesignTimeBuild
/JustBot/.vs/JustBot/FileContentIndex
/JustBot/JustBot/bin/Debug/net7.0
/JustBot/JustBot/obj/Debug/net7.0/JustBot.AssemblyInfoInputs.cache
/JustBot/JustBot/obj/Debug/net7.0/JustBot.assets.cache
/JustBot/JustBot/obj/Debug/net7.0/JustBot.csproj.AssemblyReference.cache
/JustBot/JustBot/obj/Debug/net7.0/JustBot.csproj.BuildWithSkipAnalyzers
/JustBot/JustBot/obj/Debug/net7.0/JustBot.csproj.CopyComplete
/JustBot/JustBot/obj/Debug/net7.0/JustBot.csproj.CoreCompileInputs.cache
/JustBot/JustBot/obj/Debug/net7.0/JustBot.csproj.FileListAbsolute.txt
/JustBot/JustBot/obj/Debug/net7.0/JustBot.GeneratedMSBuildEditorConfig.editorconfig
/JustBot/JustBot/obj/Debug/net7.0/JustBot.genruntimeconfig.cache
/JustBot/JustBot/obj/JustBot.csproj.nuget.dgspec.json
/JustBot/JustBot/obj/JustBot.csproj.nuget.g.props
/JustBot/JustBot/obj/JustBot.csproj.nuget.g.targets
/JustBot/JustBot/obj/project.assets.json
/JustBot/JustBot/obj/project.nuget.cache
